<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.suredigit.naftemporikihd"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Singleton"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Sherlock.NoActionBar" >
        <activity
            android:name="com.suredigit.naftemporikihd.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.suredigit.naftemporikihd.ArticlesViewActivity"
            android:label="@string/title_activity_articles_view"
            android:parentActivityName="com.suredigit.naftemporikihd.MainActivity"
            android:theme="@android:style/Theme.Light" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.suredigit.naftemporikihd.MainActivity" />
        </activity>
        <activity
            android:name="com.suredigit.naftemporikihd.SelectRssChannelsActivity"
            android:label="Επιλογή"
            android:parentActivityName="com.suredigit.naftemporikihd.MainActivity"
            android:theme="@android:style/Theme.Light" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.suredigit.naftemporikihd.MainActivity" />
        </activity>
        <activity
            android:name="com.suredigit.naftemporikihd.FragmentPagerSupport"
            android:label="@string/title_activity_articles_view"
            android:parentActivityName="com.suredigit.naftemporikihd.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.suredigit.naftemporikihd.MainActivity" />
        </activity>
    </application>

</manifest>